<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drumpad</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div id="waveform"></div>
        <input type="range" min="0.0" max="1.0" v-model="masterVolume" step="0.01"> {{masterVolume}}
        <span>{{ currentKit }}</span>

        <div class="container">
            <div class="pad" v-for="reg in regions"  @click.prevent="play(reg.id)">{{reg.id}}</div>
        </div>
    </div>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>